* {
    position: relative;
    box-sizing: border-box;
}
.layout {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'cmu serif',sans-serif;
    line-height: 140%;
    min-height: 100vh;
}

.container,
.ribbon__content {
    width: 60vh;
    max-width: 100%;
}

.ribbon {
    padding: 4rem;
}
.ribbon:last-child {
    flex: 1;
}
.ribbon--1 {
    background: #255bd4;
    z-index: 1;
}
.ribbon--2 {
    padding-top: 11rem;
    background: #d8cdcd;
}
.ribbon--3 {
    padding: 0 4rem;
    background: #ecdddd;
}

.ribbon__content {
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
}
.ribbon__content--unpadded {
    padding: 0;
}
.ribbon__content--clear {
    background: none;
}

.container {
    margin: 0 auto -11rem;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__stretcher {
    padding: 100% 0 0;
}

.container__absolute {
    padding: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container__row::after {
    content: '';
    display: block;
    clear: both;
}
.container__row:not(:last-child) {
    margin-bottom: 1rem;
}

.cell {
    position: relative;
    float: left;
    width: 6rem;
    height: 6rem;
    box-shadow: inset 0 0 0 1px #444;
    /* text-stroke is WebKit-only. Blurred text-shadow "stroke" looks like
     * dogshit. This looks like slightly prettier dogshit. */
    text-shadow:
         0.1rem 0       #fff,
         0.1rem 0.1rem  #fff,
         0      0.1rem  #fff,
         0.1rem -0.1rem #fff,
         0      -0.1rem #fff,
        -0.1rem -0.1rem #fff,
        -0.1rem 0       #fff,
        -0.1rem 0.1rem  #fff;
    text-align: center;
    font-family: 'palanquin dark',sans-serif;
    font-size: 3rem;
    line-height: 170%;
    transition: all ease 0.2s;
    z-index: 1;
}
.cell:not(:last-child) {
    margin-right: 1rem;
}
.cell:not(.cell--given) {
    cursor: pointer;
}
.cell::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    opacity: 0;
    transition: all ease 0.2s;
    z-index: -1;
}

.cell--incumbent {
    color: #444;
    text-shadow: none;
    box-shadow: inset 0 0 0 1px #444;
    background: #eee;
    /*
    text-shadow:
         0.1rem 0       #444,
         0.1rem 0.1rem  #444,
         0      0.1rem  #444,
         0.1rem -0.1rem #444,
         0      -0.1rem #444,
        -0.1rem -0.1rem #444,
        -0.1rem 0       #444,
        -0.1rem 0.1rem  #444;
    */
}
.cell--incumbent::after {
    opacity: 0 !important;
}

.cell--given {
    font-weight: bold;
    background: repeating-linear-gradient(
        135deg,
        #fafafa,
        #fafafa 6.07px,
        #ccc 6.07px,
        #ccc 7.07px
    );
    box-shadow: inset 0 0 0 1px #aaa;
}
.cell--given::after {
    display: none;
}

/**
 * Color scheme
 *  - Turquoise: 00e4e2, 05c6c3 (or 00d6d3)
 *  - Azure:     61cef2, 3fb7eb
 *  - Purplue:   759aec, 5177e2
 *  - Pink:      cd7ff5, b65bef
 *
 *  x  | x sqrt(2)
 *  --------------
 *   1 | 1.41
 *   2 | 2.83
 *   3 | 4.24
 *   4 | 5.66, 6.36
 *   5 | 7.07
 *   6 | 8.48
 *   7 | 9.90
 *   8 | 11.31
 *   9 | 12.73
 *  10 | 14.14
 *  11 | 15.56
 *  12 | 16.97
 *  13 | 18.38
 *  14 | 19.80
 *  15 | 21.21
 */

.cell--value::after {
    opacity: 1;
}
.cell--value-1::after {
    background: repeating-linear-gradient(
        135deg,
        #00e4e2,
        #00e4e2 10.14px,
        transparent 10.14px,
        transparent 14.14px
    ), repeating-linear-gradient(
        45deg,
        #00e4e2,
        #00e4e2 10.14px,
        #fff 10.14px,
        #fff 14.14px
    );
    box-shadow: inset 0 0 0 1px #05c6c3;
}
.cell--value-2::after {
    background: repeating-linear-gradient(
        135deg,
        #61cef2,
        #61cef2 1px,
        transparent 1px,
        transparent 5.98px,
        #61cef2 5.98px,
        #61cef2 8.48px
    ), repeating-linear-gradient(
        90deg,
        transparent,
        transparent 11px,
        #fff 11px,
        #fff 12px
    ), repeating-linear-gradient(
        #61cef2,
        #61cef2 11px,
        #fff 11px,
        #fff 12px
    );
    box-shadow: inset 0 0 0 1px #3fb7eb;
}
.cell--value-3::after {
    background: repeating-linear-gradient(
        45deg,
        #759aec,
        #759aec 4.49px,
        transparent 4.49px,
        transparent 8.49px
    ), repeating-linear-gradient(
        #759aec,
        #759aec 5px,
        #fff 5px,
        #fff 6px
    );
    box-shadow: inset 0 0 0 1px #5177e2;
}
.cell--value-4::after {
    background: repeating-linear-gradient(
        135deg,
        #fff,
        #fff 0.5px,
        transparent 0.5px,
        transparent 9.4px,
        #fff 9.4px,
        #fff 9.9px
    ), repeating-linear-gradient(
        #cd7ff5,
        #cd7ff5 5px,
        transparent 5px,
        transparent 9px,
        #cd7ff5 9px,
        #cd7ff5 14px
    ), repeating-linear-gradient(
        90deg,
        #cd7ff5,
        #cd7ff5 5px,
        #fff 5px,
        #fff 9px,
        #cd7ff5 9px,
        #cd7ff5 14px
    );
    box-shadow: inset 0 0 0 1px #b65bef;
}

.inequality {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    background: #000;
    border-radius: 1rem;
    box-shadow: 0 0 0 .2rem #fff;
    text-shadow: none;
    font-size: 40%;
    font-weight: normal;
    line-height: 140%;
    pointer-events: none;
    z-index: 1;
}

.inequality--ltr::before {
    content: '∧';
    transform: rotate(-90deg);
}
.inequality--gtr::before {
    transform: rotate(90deg);
}
.inequality--ltb::after {
}
.inequality--gtb::after {
    transform: rotate(180deg);
}

/*
.cell::before {
    top: 2rem;
    left: 5.5rem;
}
.cell::after {
    top: 5.5rem;
    left: 2rem;
}
*/

.range {
    display: flex;
}

.range__container {
    flex: 1;
    display: flex;
}

.range__subcontainer {
    flex: 1;
    padding: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.range__label {
    padding: 2rem;
    padding-right: 0;
    font-size: 120%;
}

.range__bar {
    display: flex;
    justify-content: space-between;
    top: 0.5rem;
}

.range__bar::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -0.3rem;
    width: calc(100% + 0.6rem);
    height: 1px;
    background: #888;
}

.range__step {
    top: -1.3rem;
    width: 0;
    text-indent: -0.3em;
    font-family: 'palanquin dark';
}

.range__step::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.7rem;
    height: 0.6rem;
    width: 1px;
    background: #444;
    font-size: 140%;
}

.range__head {
    margin-left: -0.3rem;
    position: absolute;
    top: 0.5rem;
    left: 0;
    height: 0.6rem;
    width: 0.5rem;
    background: #ccc;
    border: solid 1px #444;
    cursor: pointer;
    transition: all ease 0.2s;
    z-index: 1;
}
.range__head:hover,
.range__head:focus {
    background: #fafafa;
}

.range__head::after {
    content: '';
    display: block;
    position: absolute;
    top: -0.25rem;
    width: 0.32rem;
    height: 0.32rem;
    background: inherit;
    border: inherit;
    border-width: 1px 1px 0 0;
    transform: rotate(-45deg);
}

.button,
button {
    padding: 1.9rem 4rem 2rem 2rem;
    color: #fff;
    background: #63d08f;
    border: none;
    text-align: left;
    font: inherit;
    font-size: 140%;
    font-style: italic;
    line-height: 80%;
    box-shadow: inset 0 0 0 1px;
    cursor: pointer;
}
.button::after,
button::after {
    content: '⟼';
    position: relative;
    left: 0.5rem;
    font-style: normal;
    transition: all ease 0.2s;
}
.button:focus,
.button:active,
button:focus,
button:active {
    outline: none;
}
.button:hover::after,
.button:focus::after,
.button:active::after,
button:hover::after,
button:focus::after,
button:active::after {
    left: 1rem;
}

@font-face {
    font-family: 'cmu serif';
    src: url('assets/fonts/cmunrm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu serif';
    src: url('assets/fonts/cmunti.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/*
@font-face {
    font-family: 'cmu serif';
    src: url('assets/fonts/cmunbx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'cmu serif';
    src: url('assets/fonts/cmunbi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
*/
